/* Color Palette 
  blue: color: #3d6eb0;
  green: color: #5da399;
  white: color: #f4edea;
  darkpurple: color: #22031f;
*/

/* Google Fonts 
  font-family: 'Assistant', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/

/* --------------------- Standard Styles ------------------- */

/* box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #22031f;
  background-color: #f4edea;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #3d6eb0;
}
a::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: #5da399;
  opacity: .7;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}
a:hover::after {
  transform: scaleY(1);
  transition: transform 0.3s;
}

button {
  display: block;
  border: none;
  background: none;
  padding: 0 20px;
}
button:hover {
  cursor: pointer;
}

.btn {
  position: relative;
  margin: 0 auto;
  padding: 12px 30px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  border: 4px solid #f4edea;
  background-color: transparent;
}
.btn .text {
  position: relative;
  z-index: 1;
  color: #f4edea;
  transition: color 0.3s;
}
.btn:hover .text {
  color: #5da399;
  transition: color 0.3s;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f4edea;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}
.btn:hover::after {
  transform: scaleY(1);
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .btn {
    padding: 14px 40px;
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  
}

section {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  section {
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) {
  section {
    margin-bottom: 60px;
  }
}

/* Headings */
h1, h2, h3 {
  margin-top: 0.2em;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  display: inline-block;
  background: linear-gradient(to right, #3d6eb0, #5da399);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5da399;
  font-size: 100px;
}
h2 {
  color: #5da399;
  font-weight: 400;
  font-size: 75px;
}
h3 {
  color: #3d6eb0;
  font-weight: 700;
  font-size: 45px;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h1 {
    background: none;
  }
}


/* --------------------- Header ------------------- */
.scroll-lock {
  overflow: hidden;
}
.page-wrapper {
  position: relative;
  overflow: hidden;
}
main {
  position: relative;
}
main .mobile-overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
main.overlay .mobile-overlay {
  pointer-events: all;
  opacity: .7;
  transition: opacity 0.3s;
}
.header {
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: #5da399;
  box-shadow: 0px 4px 10px 3px rgba(0,0,0,0.5);
}
.header .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .mobile-cont button {
  position: relative;
  padding: 10px;
}
.header .mobile-cont button .bars {
  opacity: 1;
  transition: opacity 0.3s;
}
.header .mobile-cont button .close {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.header .mobile-cont.active button .bars {
  opacity: 0;
  transition: opacity 0.3s;
}
.header .mobile-cont.active button .close {
  opacity: 1;
  transition: opacity 0.3s;
}
.header .mobile-cont button i {
  font-size: 30px;
  color: #f4edea;
}
.header .mobile .title {
  color: #f4edea;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.header .mobile-cont .mobile-menu {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 70px;
  width: 100%;
  max-width: 320px;
  transform: translateX(100%);
  transition: transform 0.3s;
  background: linear-gradient(to bottom, #5da399, #3d6eb0)
}
.header .mobile-cont.active .mobile-menu {
  transform: translateX(0);
  transition: transform 0.3s;
}
.header .mobile-nav ul{
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.header .mobile-nav li {
  padding: 10px 30px;
}
.header .mobile-nav li:last-child {
  margin-bottom: 0;
}
.header .mobile-nav a {
  color: #f4edea;
}
.header .mobile-nav a::after {
  display: none;
}
.header .desktop {
  display: none;
}

@media (min-width: 768px) {
  
}

@media (min-width: 1025px) {
  .scroll-lock {
    overflow: auto;
  }
  .header .mobile {
    display: none;
  }
  .header {
    padding: 5px 70px;
  }
  .header .desktop {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .header .desktop, .header .desktop a {
    color: #f4edea;
  }
  .header .desktop .icon i {
    position: relative;
    top: 3px;
    color: #3d6eb0;
    font-size: 50px;
  }
  .header .desktop .menu {
    flex: 1;
  }
  .header .desktop ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header .desktop .nav {
    margin: 0 30px;
  }
  .header .desktop .nav a {
    position: relative;
    padding: 20px 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }
  .header .desktop .nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    top: -5px;
    background-color: #bedad6;
    opacity: 0;
    transition: opacity 0.3s;
    transform: none;
  }
  .header .desktop .nav a:hover::after {
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  .header .desktop .social a {
    font-size: 28px;
    padding: 14px 17px;
    color: #f4edea;
    transition: color 0.3s;
  }
  .header .desktop .social a:hover {
    color: #3d6eb0;
    transition: color 0.3s;
  }
  .header .desktop .social a::after {
    display: none;
  }
  main.overlay .mobile-overlay {
    display: none;
  }
}


/* --------------------- Hero ------------------- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(145deg, rgba(61, 110, 176, 0.85), rgba(93, 163, 153, 0.85)), url("images/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  top: 38px;
  padding: 30px;
  color: #f4edea;
  text-align: center;
}
.hero-content h1 {
  margin: 0 0 0.2em 0;
  line-height: 1em;
  font-size: 70px;
  color: #f4edea;
  background: none;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
}
.hero-content p {
  margin: 0 auto 3em;
  font-size: 20px;
  width: 100%;
  max-width: 480px;
}

@media (min-width: 768px) {
  .hero-content {
    padding: 40px;
  }
  .hero-content h1 {
    font-size: 100px;
  }
  .hero-content p {
    font-size: 30px;
  }
}

@media (min-width: 1025px) {
  .hero-content h1 {
    font-size: 140px;
  }
  .hero-content p {
    margin: 0 auto 2.5em;
  }
}

/* --------------------- How it works ------------------- */
section .title-cont {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 65px;
}
section .title {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #3d6eb0, #5da399);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5da399;
  font-size: 70px;
  line-height: 1em;
}
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  section .title {
    background: none;
  }
}
.how .title-cont {
  text-align: center;
}
section .content {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 65px;
}

/* svg styling and animation 
  see https://docs.google.com/presentation/d/1Iuvf3saPCJepVJBDNNDSmSsA0_rwtRYehSmmSSLYFVQ/pub?start=false&loop=false&delayms=3000&slide=id.g180585666_036
*/
.svg-cont {
  height: 0;
  position: relative;
  width: 50%;
  padding-top: 50%;  /* (SVG height / SVG width) * width-value */
}
.svg-cont .svg {
  position: absolute;
  top: 0;
  left: 0;
}
/* #hospital-group {
  opacity: 0;
} */


@media (min-width: 768px) {
  section .title {
    font-size: 80px;
  }
}

@media (min-width: 1025px) {
  section .title {
    font-size: 100px;
  }
}



@media (min-width: 768px) {
 
}

@media (min-width: 1025px) {
  
}
.slider {
  width: 500px;
  margin: 0 auto;
}