/* Color Palette 
  blue: color: #3d6eb0;
  green: color: #5da399;
  white: color: #f4edea;
  darkpurple: color: #32292f;
*/

/* Google Fonts 
  font-family: 'Assistant', sans-serif;
  font-family: 'Open Sans', sans-serif;
*/
@font-face {
  font-family: 'Assistant';
  src: url('fonts/Assistant/assistant-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Assistant/assistant-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Assistant/Assistant-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Assistant';
  src: url('fonts/Assistant/assistant-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Assistant/assistant-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Assistant/Assistant-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Open_Sans/OpenSans-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/opensans-semibold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Open_Sans/opensans-semibold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Open_Sans/OpenSans-SemiBold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Open_Sans/opensans-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Open_Sans/OpenSans-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --------------------- Standard Styles ------------------- */

/* box-sizing */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #32292f;
  background-color: #f4edea;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #3d6eb0;
}
a::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: -1px;
  left: 0;
  width: 100%;
  background-color: #5da399;
  opacity: 0.5;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}
a:hover::after {
  transform: scaleY(1);
  transition: transform 0.3s;
}

p {
  font-size: 18px;
}

button {
  display: block;
  border: none;
  background: none;
  padding: 0 20px;
}
button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.btn {
  position: relative;
  margin: 0 auto;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  border: 3px solid #f4edea;
  background-color: transparent;
}
.btn .text {
  position: relative;
  z-index: 1;
  color: #f4edea;
  transition: color 0.3s;
  font-weight: 700;
}
.btn:hover .text {
  color: #5da399;
  transition: color 0.3s;
}
.btn::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  right: -2px;
  top: -2px;
  background-color: #f4edea;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s;
}
.btn:hover::after {
  transform: scaleY(1);
  transition: transform 0.3s;
}

@media (min-width: 768px) {
  .btn {
    padding: 14px 40px;
    font-size: 16px;
  }
}

section {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  section {
    margin-bottom: 40px;
  }
}

@media (min-width: 1025px) {
  section {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  section {
    margin-bottom: 80px;
  }
}

/* Headings */
h1, h2, h3 {
  margin-top: 0.2em;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
}
h1 {
  display: inline-block;
  background: linear-gradient(to right, #3d6eb0, #5da399);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5da399;
  font-size: 100px;
  font-weight: 700;
}
h2 {
  color: #5da399;
  font-weight: 400;
  font-size: 75px;
}
h3 {
  color: #3d6eb0;
  font-weight: 700;
  font-size: 45px;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h1 {
    background: none;
  }
}


/* --------------------- Header ------------------- */
.scroll-lock {
  overflow: hidden;
}
.page-wrapper {
  position: relative;
  overflow: hidden;
}
main {
  position: relative;
}
main .mobile-overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}
main.overlay .mobile-overlay {
  pointer-events: all;
  opacity: .7;
  transition: opacity 0.3s;
}
.header {
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  background-color: rgba(22, 46, 60, 0.8);
  background-color: transparent;
  transition: 0.3s background-color;
}
.header.darken {
  background-color: rgba(22, 46, 60, 0.8);
  transition: 0.3s background-color;
}
.header .mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .mobile-cont button {
  position: relative;
  padding: 10px;
}
.header .mobile-cont button .bars {
  opacity: 1;
  transition: opacity 0.3s;
}
.header .mobile-cont button.close-cont {
  position: absolute;
  top: 20px;
  right: 25px;
}
.header .mobile-cont button .close {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
.header .mobile-cont.active button .bars {
  opacity: 0;
  transition: opacity 0.3s;
}
.header .mobile-cont.active button .close {
  opacity: 1;
  transition: opacity 0.3s;
}
.header .mobile-cont button i {
  font-size: 30px;
  color: #f4edea;
}
.header .mobile .title {
  color: #f4edea;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
}
.header .mobile-cont .mobile-menu {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.3s;
  background: linear-gradient(to bottom, #3d6eb0, #5da399)
}
.header .mobile-cont.active .mobile-menu {
  transform: translateX(0);
  transition: transform 0.3s;
}
.header .mobile-nav ul{
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
.header .mobile-cont .mobile-nav li {
  position: relative;
  padding: 10px 30px;
  font-size: 20px;
  text-align: center;
  opacity: 0;
}
.header .mobile-cont .mobile-nav li:nth-child(1){
  top: -10px;
}
.header .mobile-cont .mobile-nav li:nth-child(2){
  top: -50px;
}
.header .mobile-cont .mobile-nav li:nth-child(3){
  top: -60px;
}
.header .mobile-cont.active .mobile-nav li:nth-child(1) {
  top: 0;
  opacity: 1;
  transition: 0.3s top ease-out 0.2s, 0.5s opacity ease-out 0.2s;
}
.header .mobile-cont.active .mobile-nav li:nth-child(2) {
  top: 0;
  opacity: 1;
  transition: 0.4s top ease-out 0.3s, 0.5s opacity ease-out 0.3s;
}
.header .mobile-cont.active .mobile-nav li:nth-child(3) {
  top: 0;
  opacity: 1;
  transition: 0.5s top ease-out 0.4s, 0.6s opacity ease-out 0.5s;
}
.header .mobile-nav li:last-child {
  margin-bottom: 0;
}
.header .mobile-nav a {
  color: #f4edea;
}
.header .mobile a::after {
  z-index: -1;
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -7px;
    width: auto;
    right: -7px;
    background-color: #5da399;
    opacity: 0.8;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s;
}
.header .mobile a:hover::after {
  transform: scaleY(1);
  transition: transform 0.3s;
}
.header .desktop {
  display: none;
}


@media (min-width: 1025px) {
  .scroll-lock {
    overflow: auto;
  }
  .header .mobile {
    display: none;
  }
  .header {
    padding: 5px 70px;
  }
  .header .desktop {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .header .desktop, .header .desktop a {
    color: #f4edea;
  }
  .header .desktop a::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 7px;
    bottom: 6px;
    left: 0;
    width: 100%;
    background-color: #5da399;
    opacity: 0.8;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s;
  }
  .header .desktop a:hover::after {
    transform: scaleY(1);
    transition: transform 0.3s;
  }
  .header .desktop .title {
    padding: 12px 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
  .header .desktop .menu {
    flex: 1;
  }
  .header .desktop ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .header .desktop .nav {
    margin: 0 30px;
  }
  .header .desktop .nav a {
    position: relative;
    padding: 12px 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
  .header .desktop .social a {
    font-size: 16px;
    padding: 12px 17px;
    color: #f4edea;
    transition: color 0.3s;
  }
  .header .desktop .social a:hover {
    color: #3d6eb0;
    transition: color 0.3s;
  }
  .header .desktop .social a::after {
    display: none;
  }
  main.overlay .mobile-overlay {
    display: none;
  }
}


/* --------------------- Hero ------------------- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(61, 110, 176, 0.85), rgba(93, 163, 153, 0.85)), url("images/hero-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .hero {
    background-attachment: local;
  }
}
.hero-content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  top: 38px;
  padding: 30px;
  color: #f4edea;
  text-align: center;
}
.hero-content h1 {
  margin: 0 0 0.2em 0;
  line-height: 1em;
  font-size: 46px;
  color: #f4edea;
  background: none;
  -webkit-background-clip: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
}
.hero-content p {
  margin: 0 auto 3em;
  font-size: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .hero-content {
    padding: 40px;
  }
  .hero-content h1 {
    font-size: 60px;
  }
}

@media (min-width: 1025px) {
  .hero {
    background-image: linear-gradient(145deg, rgba(61, 110, 176, 0.85), rgba(93, 163, 153, 0.85)), url("images/hero-bg.jpg");
  }
  .hero-content h1 {
    font-size: 90px;
  }
  .hero-content p {
    margin: 0 auto 2.5em;
    font-size: 25px;
  }
}

/* --------------------- Section Styles ------------------- */

section .title-cont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
section .title {
  margin-top: 0.2em;
  margin-bottom: 0.6em;
  font-family: 'Assistant', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #3d6eb0, #5da399);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #5da399;
  font-size: 70px;
  line-height: 1em;
}
section .content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  section .title {
    background: none;
  }
}

/* --------------------- How it works ------------------- */
.how .title-cont {
  text-align: center;
}
.how .content:after {
  content: "";
  display: table;
  clear: both;
}

.svg-cont {
  display: none;
}

.how .step {
  padding: 30px;
  margin-bottom: 20px;
  margin-left: 15%;
  background-color: #3d6eb0;
  color: #f4edea;
}
.how .step:nth-child(2) {
  background-color: #5da399;
  margin-right: 15%;
  margin-left: 0;
}
.how .step .heading {
  font-size: 40px;
  font-weight: 700;
}
.how .step p {
  margin-bottom: 50px;
}
.how .step .btn {
  margin: 0;
  padding: 14px 20px;
}
.how .step .btn:hover .text {
  color: #3d6eb0;
}
.how .step:nth-child(2) .btn:hover .text {
  color: #5da399;
}

@media (min-width: 768px) {
  section .title-cont {
    padding: 0 65px;
  }
  section .title {
    font-size: 80px;
  }
  section .content {
    padding: 0 65px;
  }
  .how .step {
    padding: 40px;
  }
}

@media (min-width: 1025px) {
  section .title {
    font-size: 100px;
    margin-bottom: 30px;
  }
  /* svg styling and animation 
  see https://docs.google.com/presentation/d/1Iuvf3saPCJepVJBDNNDSmSsA0_rwtRYehSmmSSLYFVQ/pub?start=false&loop=false&delayms=3000&slide=id.g180585666_036
  */
  .svg-cont {
    display: block;
    height: 0;
    position: relative;
    width: 46%;
    padding-top: 46%;  /* (SVG height / SVG width) * width-value */
  }
  .svg-cont .svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .svg-cont .svg-truck {
    position: absolute;
    z-index: 2;
    top: 8%;
    left: 40%;
    width: 20%;
    height: 16%;
  }
  .how .content {
    position: relative;
  }
  .how .step {
    position: absolute;
    margin: 0;
    top: 50%;
    right: 180px;
    transform: translateY(-50%);
    padding: 40px;
    color: #f4edea;
    width: calc(50% - 180px);
  }
  .how .step:nth-child(2) {
    margin: 0;
  }
  .how .step .heading {
    font-size: 40px;
    font-weight: 700;
  }
  .how .step .btn {
    padding: 14px 20px;
  }
}


/* --------------------- Stats ------------------- */

.stats .content {
  position: relative;
  max-width: none;
  padding: 0;
}
.stats .controls {
  position: absolute;
  top: 46%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 2000;
  width: 100%;
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.stats .controls-large {
  display: none;
}
.stats .slick-arrow {
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding: 0;
  background-color: #3d6eb0;
  color: #f4edea;
  box-shadow: 0px 0px 8px 0px rgba(244,237,234,0.3);
}
.stats .slick-arrow.prev i {
  vertical-align: top;
  position: relative;
  left: -6%;
}
.stats .slick-arrow.next i {
  vertical-align: top;
  position: relative;
  left: 6%;
}
.stats .slide {
  padding: 0 15px;
  text-align: center;
  font-size: 20px;
  color: #f4edea;
}
.stats .main-slider .slide {
  padding: 0 65px;
}
.stats .slide .description {
  max-width: 200px;
  margin: 0 auto;
}
.stats .slide.big {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: calc(100vw + 60px);
  text-align: center;
  font-size: calc(110px + 40 * ((100vw - 320px) / 1120));
  font-weight: 700;
  color: #f4edea;
  background-size: cover;
  background-position: center center;
}
.stats .main-cont {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 100%;
  max-width: 1200px;
}
.stats .main-slider .num-cont {
  display: flex;
  justify-content: center;
  font-size: calc(110px + 40 * ((100vw - 320px) / 1120));
  font-weight: 700;
  color: #f4edea;
}

@media (min-width: 580px) {
  .stats .slide.big {
    padding-top: calc(((9/16) * 100vw) - 15px);
  }
  .stats .slide {
    font-size: 25px;
  }
}


@media (min-width: 1025px) {
  .stats .flex-cont {
    max-height: 810px;
    overflow: hidden;
  }
  .stats .controls {
    display: none;
  }
  .stats .controls-large {
    position: absolute;
    z-index: 2000;
    top: -60px;
    bottom: -60px;
    left: 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .stats .slick-arrow {
    height: 60px;
    width: 60px;
    font-size: 50px;
    padding: 0;
    background-color: #3d6eb0;
    color: #f4edea;
    transform: translateY(0);
    transition: 0.3s transform;
  }
  .stats .slick-arrow.next:hover {
    transform: translateY(10px);
    transition: 0.3s transform;
  }
  .stats .slick-arrow.prev:hover {
    transform: translateY(-10px);
    transition: 0.3s transform;
  }
  .stats .slick-arrow.prev i {
    vertical-align: top;
    position: relative;
    left: auto;
  }
  .stats .slick-arrow.next i {
    vertical-align: top;
    position: relative;
    left: auto;
    top: 4px;
  }
  .stats .slide.big {
    font-size: 300px;
  }
  .stats .slide .description {
    position: absolute;
    top: 50%;
    left: 0;
    width: 25%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none;
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4em;
  }
  .stats .main-slider .slide {
    position: relative;
    padding: 0 75px;
  }
  .stats .main-slider .num-cont {
    min-height: 300px;
    display: flex;
    justify-content: center;
    font-size: 300px;
    line-height: 300px;
  }
}

@media (min-width: 1440px) {
  .stats .slide.big {
    padding-top: 810px;
  }
}

/* --------------------- VAlues ------------------- */
.values .title-cont {
  text-align: center;
}
.values .card {
  position: relative;
  width: 100%;
  padding: 0 5px;
  max-width: 300px;
  margin: 0 auto 90px;
  text-align: center;
}
.values .card:last-child {
  margin-bottom: 0;
}
.values .card .icon {
  width: 35%;
  margin: 0 auto 20px;
}
.values .card-title {
  font-size: 30px;
  line-height: 1em;
  font-weight: 700;
}
.values .card .description {
  margin-bottom: 35px;
}
.values .card .description p {
  margin-top: 0.8em;
  line-height: 1.6em;
}
.values .card .btn {
  white-space: nowrap;
  border: 3px solid #3d6eb0;
}
.values .card .btn::after {
  background-color: #3d6eb0;
}
.values .card .btn .text {
  color: #3d6eb0;
  font-weight: 700;
}
.values .card .btn:hover .text {
  color: #f4edea;
}
.values .card .btn a::after{
  display: none;
}


@media (min-width: 768px) {
  .values .title {
    margin-bottom: 60px;
  }
  .values .card-cont {
    display: flex;
    flex-wrap: wrap;
  }
  .values .card {
    max-width: 350px;
    padding: 30px 30px 30px;
    border: 2px solid transparent;
    transform: scale(1);
    transition: 0.3s transform, 0.3s border;
  }
  .values .card:last-child {
    margin-bottom: 90px;
  }
  .values .card .description {
    margin-bottom: 90px;
  }
  .values .card .btn {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    transition: 0.3s opacity;
  }
  .values .card:hover {
    border-color:  #3d6eb0;
    transform: scale(1.05);
    transition: 0.3s transform, 0.3s border;
  }
  .values .card:hover .btn {
    opacity: 1;
    transition: 0.3s opacity;
  }
}

@media (min-width: 1025px) {
  .values .card-title {
    font-size: 35px;
  }
  .values .card .description p {
    line-height: 1.4em;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .values .card {
    margin-bottom: 0;
  }
  .values .card:last-child {
    margin-bottom: 0;
  }
}



/* --------------------- Showcase ------------------- */
.showcase .title-cont {
  padding: 0 20px;
}
.showcase .content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.showcase .controls {
  position: absolute;
  z-index: 2000;
  width: 100%;
  top: calc((100vw - 40px) * (2/6));
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
.showcase .controls button {
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding: 0;
  background-color: #3d6eb0;
  color: #f4edea;
  box-shadow: 0px 0px 8px 0px rgba(244,237,234,0.3);
}
.showcase .slick-arrow.next i {
  vertical-align: top;
  position: relative;
  left: 6%;
}
.showcase .slick-arrow.prev i {
  vertical-align: top;
  position: relative;
  left: -6%;
}
.showcase .description-cont {
  padding: 30px;
  background-color: #5da399;
}
.showcase .description,
.showcase .description-title {
  color: #f4edea;
}
.showcase .description-title{
  font-size: 24px;
  font-weight: 700;
}
.showcase .description {
  margin-bottom: 40px;
}
.showcase .description p{
  line-height: 1.4em;
}
.showcase .description .photo-credit{
  font-size: 14px;
}
.showcase .description a::after {
  background-color: #3d6eb0;
}
.showcase .description-cont .btn {
  margin: 0;
}
.showcase .description-cont .btn a::after{
  display: none;
}
.showcase .description-cont .btn .text {
  font-weight: 700;
}
.showcase .slider {
  padding: 0 20px;
}
.showcase .img-cont,
.showcase .description-cont {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .showcase .title-cont {
    padding: 0 65px;
  }
  .showcase .controls {
    top: calc((100vw - 130px) * (2/6));
    padding: 0 10px;
  }
  .showcase .controls button {
    width: auto;
    height: auto;
    padding: 15px 15px 15px;
    font-size: 60px;
    color: #3d6eb0;
    background-color: transparent;
    box-shadow: none;
  }
  .showcase .slider {
    padding: 0 65px;
  }
}

@media (min-width: 1025px) {
  .showcase .controls button {
    font-size: 100px;
  }
  .showcase .slick-arrow.next {
    transform: translateX(0);
    transition: 0.3s transform;
  }
  .showcase .slick-arrow.next:hover {
    transform: translateX(10px);
    transition: 0.3s transform;
  }
  .showcase .slick-arrow.prev:hover {
    transform: translateX(-10px);
    transition: 0.3s transform;
  }
  .showcase .title-cont {
    padding: 0 160px;
  }
  .showcase .description-title {
    font-size: 30px;
  }
  .showcase .description-cont {
    padding: 40px;
  }
  .showcase .description p{
    line-height: 1.4em;
    font-size: 18px;
  }
}
@media (min-width: 1300px) {
  .showcase .controls {
    top: 293px;
  }
  .showcase .controls button {
    font-size: 200px;
  }
  .showcase .description-cont {
    position: relative;
    padding: 40px;
    width: 440px;
    bottom: 320px;
    left: 70px;
    margin: 0 0 -275px 0;
    background-color: rgba(93, 163, 153, 0.9)
  }
}


/* --------------------- Footer ------------------- */
footer {
  padding: 42px 15px;
  margin-top: 100px;
  background-color: #5da399;
  color: #f4edea;
}
footer .footer-cont {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
footer a::after {
  background-color: #3d6eb0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .social {
  padding-bottom: 30px;
}
footer .social ul {
  display: flex;
  justify-content: center;
}
footer .social a {
  font-size: 18px;
  padding: 12px 17px;
  color: #f4edea;
  transition: color 0.3s;
}
footer .social a:hover {
  color: #3d6eb0;
  transition: color 0.3s;
}
footer .social a::after {
  display: none;
}
footer .footer-nav {
  padding-bottom: 30px;
}
footer .footer-nav a {
  color: #f4edea;
}
footer .footer-nav li {
  text-align: center;
}
footer .footer-nav a {
  padding: 12px 17px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #f4edea;
  transition: color 0.3s;
}
footer .footer-nav a:hover {
  color: #3d6eb0;
  transition: color 0.3s;
}
footer .footer-nav a::after {
  display: none;
}
footer .attribution ul {
  font-size: 12px;
}
footer .attribution ul li {
  text-align: center;
}
footer .attribution ul li:last-child {
  margin-right: 0;
}
footer .attribution ul li:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  footer .footer-nav ul {
    display: flex;
    justify-content: center;
  }
  footer .attribution ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .attribution ul li {
    margin-right: 40px;
  }
}

@media (min-width: 1025px){
  footer {
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 120px;
  }
  footer .footer-nav ul {
    display: flex;
    justify-content: center;
  }
  footer .attribution ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .attribution ul li {
    margin-right: 40px;
  }
}